{% extends 'base.html.twig' %}

{% block title %}UserList index{% endblock %}

{% block body %}
    <h1 class = "text-center" >Movies Lists</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>List_name</th>
                {# <th>Created_at</th> #}
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_list in user_lists %}
            <tr>
                <td>{{ user_list.id }}</td>
                <td>{{ user_list.listName }}</td>
                {# <td>{{ user_list.createdAt ? user_list.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>{{ user_list.description }}</td>
                <td>
                    <a href="{{ path('user_list_show', {'id': user_list.id}) }}">show</a>
                    <a href="{{ path('user_list_edit', {'id': user_list.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_list_new') }}">Create new</a>
{% endblock %}
