{% extends 'base.html.twig' %}

{% block title %}UserList{% endblock %}

{% block body %}
    <h1>UserList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_list.id }}</td>
            </tr>
            <tr>
                <th>List_name</th>
                <td>{{ user_list.listName }}</td>
            </tr>
            {# <tr>
                <th>Created_at</th>
                <td>{{ user_list.createdAt ? user_list.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr> #}
            <tr>
                <th>Description</th>
                <td>{{ user_list.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_list_index') }}">back to list</a>

    <a href="{{ path('user_list_edit', {'id': user_list.id}) }}">edit</a>

    {{ include('user_list/_delete_form.html.twig') }}
{% endblock %}
